In [1]:
import numpy as np

## Datatypes and Attributes

In [2]:
# NumPy's main datatype is ndarray
a1 = np.array([1,2,3])

In [3]:
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [6]:
a2 = np.array([[1,2,3], [4,5.0,6.6]])

a3 = np.array([[[1,2,3],
                [4,5,6],
                [7,8,9]],
               [[10,11,12],
                [13,14,15],
                [16,17,18]]])

In [7]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.6]])

In [8]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [9]:
a1.shape

(3,)

In [10]:
a2.shape

(2, 3)

In [11]:
a3.shape

(2, 3, 3)

In [12]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [13]:
a1.size

3

In [14]:
type(a1)

numpy.ndarray

In [15]:
# Create a dataframe form numpy array
import pandas as pd

df = pd.DataFramea(a2)

AttributeError: module 'pandas' has no attribute 'DataFramea'

In [16]:
df = pd.DataFrame(a2)

In [17]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.6

# creating numpy arrays

In [18]:
sample_array = np.array([1,2,3])

In [19]:
sample_array

array([1, 2, 3])

In [21]:
ones = np.ones((2,3))